<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="card shadow-lg border-0 p-3">
                    <div class="card-body">
                        <h1 class="text-center py-1 animate__animated animate__tada">Reset Password</h1>
                        <form  action="" novalidate #f="ngForm" (ngSubmit)="f.form.valid&&onSubmit()">
                            <div class="form-group input_group">
                                <div class="password_field">
                                    <input [type]="changetype?'password' : 'text'" required placeholder="" minlength="8" name="password" [(ngModel)]="resetObj.password" #password="ngModel">
                                    <label>Password</label>
                                    <i class="fa fa-lock" [ngClass]="visible?'fa fa-lock':'fa fa-unlock'" (click)="viewPass()"></i>
                                </div>
                                <span class="text-danger"  *ngIf="this.submit&&password.errors?.['required']">
                                    Password is required.
                                </span>
                                <span class="text-danger" *ngIf="this.submit&&password.errors?.['minlength']">
                                    Password should contain minimum 8 characters
                                </span>
                            </div>
                            <div class="form-group input_group">
                                <div class="password_field">
                                    <input [type]="changetype1?'password' : 'text'" required placeholder="" name="confirmPassword" [(ngModel)]="resetObj.confirmPassword" #confirmPassword="ngModel">
                                    <label>Confirm Password</label>
                                    <i class="fa fa-lock" [ngClass]="visible1?'fa fa-lock':'fa fa-unlock'" (click)="viewPass1()"></i>
                                </div>
                                <span class="text-danger"  *ngIf="this.submit&&confirmPassword.errors?.['required']">
                                    Confirm Password is required.
                                </span>
                                <span class="text-danger" *ngIf="this.submit && resetObj.password !== resetObj.confirmPassword && !confirmPassword.errors?.['required']">
                                    Passwords do not match.
                                </span>
                            </div>
                            <div class="form-group pt-3">
                                <button type="submit" class="btn btn-dark btn-lg btn-block rounded-pill" (click)="submit=true">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>